current_d1mini.fzz
.vscode
SFH_3100_F_EN.pdf
grott.manifest.yml
electricity/grott.manifest.yml
esphome/secrets.yaml
.esphome/
secrets.h
electricity/cooling75_efr_sgm_d4-a920n/efr_stromzählerrohdaten.txt